[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/bin/pamac-tray
GenericName[en_US]=
GenericName=
Icon=pamac
MimeType=
Name[en_US]=pamac-tray
Name=pamac-tray
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
