[SddmGreeterTheme]
Name=XeroLinux
Description=Sddm Futuristic
Author=DarkXero
Copyright=(c) 2021 DarkXero
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.4.2
Website=https://xerolinux.online
Screenshot=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=xerolinux-futuristic
